.title {
    background: yellowgreen;
    padding: 12px 8px;
    margin: 24px;
    border: 2px solid black;
    max-width: auto;
}

ul {
    margin-top: 50px;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
}